* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(218, 22%, 67%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
}

p {
    color: hsl(218, 22%, 67%);
}

.heading {
    color: hsl(179, 62%, 43%);
    margin-bottom: 30px;
}
.sub-heading {
    color: hsl(71, 73%, 54%);
    margin-bottom: 10px;
}

.rows p, h2, button {
    color: hsl(204, 43%, 93%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    /* padding: 5px; */
    width: 650px;
    border-radius: 5px;
    /* padding: 10px; */
}

.header {
    width: 600px;
    padding: 30px 60px;
}



.rows {
    /* border:1px solid black; */
    /* width: 600px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* gap:100px; */
}   

.rows h2{
    margin-bottom: 20px;
    font-size: 20px;
}
span {
    font-size: 30px;
}
.subs :nth-child(3) {
    margin-top: 10px;
}
button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px 90px;
    background-color: hsl(71, 73%, 54%);
    border-radius: 10px;
    border: none;
}

.info {
    /* margin-right: 100px; */
    width: 200px;
}