* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(218, 22%, 67%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 5px;
    width: 800px;
    border-radius: 10px;
}